*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
    font-family: 'Kalnia', serif;
    font-family: 'Rubik', sans-serif;
}
.carousel-item img{
    height: 80vh;
}
  